@use 'variables' as v;

*,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Global

body {
    background: v.$background;
    font-family: var(--font-figtree-mono), sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-bebas_neue), sans-serif;
    font-style: normal;
}